/* Variables */
:root{
    --primary-color: #121212;
    --secondary-color: #222222;
    --font-color: #f2f2f2;
}

/* Basic Styling */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh; 
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(215, 215, 215, 0.9);
    transition: all 0.5s;
}

a:hover{
    color: rgba(255, 255, 255, 1);
    transition: all 0.5s;
}



/* CSS Styling*/
.main-header {
    height: 80vh;
    width: 100%;
    border-bottom-left-radius: 300px;
}

.grad {
    background-image: linear-gradient(200deg, var(--primary-color), var(--secondary-color));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Navbar */
.navbar {
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(242, 242, 242, 0.1) 1px solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    flex-wrap: nowrap;
}

.logo {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.right {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}


/* For smaller screens */
@media screen and (max-width: 1024px) {
    .main-header{
        border-bottom-left-radius: 0;
    }
}